<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VUSE Tutoring</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/custom.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/icons/favicon.ico">

    <style>
        .circle:before {
            content: ' \25CF';
        }
    </style>

    <link rel="manifest" href="/manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="VUSE Tutoring">
    <meta name="apple-mobile-web-app-title" content="VUSE Tutoring">
    <meta name="theme-color" content="#343a40">
    <meta name="msapplication-navbutton-color" content="#343a40">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">

    <link rel="icon" type="image/png" sizes="36x36" href="/img/icons/android-icon-36x36.png">
    <link rel="apple-touch-icon" type="image/png" sizes="36x36" href="/img/icons/android-icon-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/img/icons/android-icon-48x48.png">
    <link rel="apple-touch-icon" type="image/png" sizes="48x48" href="/img/icons/android-icon-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="/img/icons/android-icon-72x72.png">
    <link rel="apple-touch-icon" type="image/png" sizes="72x72" href="/img/icons/android-icon-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/icons/android-icon-96x96.png">
    <link rel="apple-touch-icon" type="image/png" sizes="96x96" href="/img/icons/android-icon-96x96.png">
    <link rel="icon" type="image/png" sizes="144x144" href="/img/icons/android-icon-144x144.png">
    <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="/img/icons/android-icon-144x144.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/icons/android-icon-192x192.png">
    <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="/img/icons/android-icon-192x192.png">
</head>

<body>
    {{> _navbar }}
    <!-- Begin page content -->
    <main role="main" class="container mt-3">
        {{{ body }}}
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        // Service Worker
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/sw.js').then(function (registration) {
                    // Registration was successful
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function (err) {
                    // registration failed :(
                    console.log('ServiceWorker registration failed: ', err);
                });
            });
        }
    </script>
</body>

</html>