<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VUSE Tutoring</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://www4.vanderbilt.edu/favicon.ico">

    <style>
        .circle:before {
            content: ' \25CF';
        }
    </style>

    <link rel="manifest" href="manifest.json">

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="VUSE Tutoring">
<meta name="apple-mobile-web-app-title" content="VUSE Tutoring">
<meta name="theme-color" content="#343a40">
<meta name="msapplication-navbutton-color" content="#343a40">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="msapplication-starturl" content="/">

<link rel="icon" type="image/png" sizes="36x36" href="android-icon-36x36.png">
<link rel="apple-touch-icon" type="image/png" sizes="36x36" href="android-icon-36x36.png">
<link rel="icon" type="image/png" sizes="48x48" href="android-icon-48x48.png">
<link rel="apple-touch-icon" type="image/png" sizes="48x48" href="android-icon-48x48.png">
<link rel="icon" type="image/png" sizes="72x72" href="android-icon-72x72.png">
<link rel="apple-touch-icon" type="image/png" sizes="72x72" href="android-icon-72x72.png">
<link rel="icon" type="image/png" sizes="96x96" href="android-icon-96x96.png">
<link rel="apple-touch-icon" type="image/png" sizes="96x96" href="android-icon-96x96.png">
<link rel="icon" type="image/png" sizes="144x144" href="android-icon-144x144.png">
<link rel="apple-touch-icon" type="image/png" sizes="144x144" href="android-icon-144x144.png">
<link rel="icon" type="image/png" sizes="192x192" href="android-icon-192x192.png">
<link rel="apple-touch-icon" type="image/png" sizes="192x192" href="android-icon-192x192.png">
</head>

<body>
    {{> _navbar }}
    <!-- Begin page content -->
    <main role="main" class="container mt-3">
        {{{ body }}}
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
</body>

</html>