<h1>About</h1>
<h4>Drop-in STEM Tutoring</h4>
<p align="justify">The drop-in tutoring help sessions are open to all students in <u>S</u>cience, <u>T</u>echnology, <u>E</u>ngineering, and <u>M</u>ath Courses. This drop-in tutoring service is made possible by the <a href="https://www.nsf.gov/">National Science Foundation</a>, <a href="https://engineering.vanderbilt.edu/">VU School of Engineering</a>, and <a href="https://as.vanderbilt.edu/">VU College of Arts and Science</a>.</p>
<br>
<h4>Fall 2017 Dates, Hours & Locations</h4>
<b>Dates:</b> September 11th through November 30th *excluding breaks* <br>
<b>Hours:</b> 7:00-9:00 PM Sunday-Thursday <br>
<b>Courses covered:</b>
<br>
BME 2200, CE 2205, CHBE 2100, CHEM 2221, CS 1101, CS 1103, CS 2201, EECE 2112, EECE 2116, EECE 2213, PHYS 1601/1602, MATH 2200, MATH 2300, MATH 2400, MATH 2420
<br>
<br>
<b>Questions</b>
<p align="justify">If you have questions about the STEM tutoring program, please contact VUSE Assistant Dean Burgess Mitchell at <a href="mailto:burgess.mitchell@vanderbilt.edu">burgess.mitchell@vanderbilt.edu</a> or (615) 343-8061.</p>